.content
    figure
        margin: 0

figure
    img
        object-fit: cover

.navbar
    top: 0
    transition: top 0.3s
    box-shadow: 0 0px 28px rgba(0,0,0,0.07)
.navbar-menu
    box-shadow: unset !important
.navbar-burger
    span
        height: 2px

img
    border-radius: $card-radius
    .no-radius
        border-radius: unset

.click
    color: inherit !important

.multi
    white-space: normal
    height: auto
