{{ define "title" }}{{ .Title }} &#124; {{ .Site.Title }}{{ end }}

{{ define "main" }}
<section class="hero">
  <div class="container is-widescreen px-5">
    <div class="hero-body has-text-centered">
      <h1 class="title is-2">{{ .Title }}</h1>
      <p class="subtitle">{{ .Description }}</p>
      <form id="search" action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}' method="get">
        <label hidden for="search-input">Cerca nel sito</label>
          <div class="field has-addons">
            <p class="control">
             <input class="input" type="text" id="search-input" name="query" placeholder="Scrivi qui">
            </p>
            <p class="control">
              <input class="button" type="submit" value="Cerca">
            </p>
          </div>
      </form> 
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-widescreen px-5">
    <div id="results" class="columns is-multiline">
    </div>
  </div>
</section>
{{ partial "search-index.html" . }}
{{ end }}
 