<!DOCTYPE html>
<html dir="ltr" lang="{{ .Site.LanguageCode }}" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    {{ partial "opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/addff797b2.js" crossorigin="anonymous"></script>
    <!--Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href='{{ (resources.Get "sass/main.sass" | toCSS).Permalink }}'>
    <!-- Favicons -->
    {{ partial "favicons.html" . }}
    <!-- PWA -->
    <link rel="manifest" href="/manifest.json">
    <!-- Google Analytics v4 (gtag.js) -->
    {{ template "_internal/google_analytics.html" . }}
    <!-- Hotjar Tracking Code for https://www.padelup.it/ -->
    {{ partial "hotjar.html" . }}
    <!-- reCAPTCHA V2 -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body class="is-unselectable">
    <nav class="navbar is-fixed-top" id="navbar" role="navigation" aria-label="main navigation">
      <div class="container is-widescreen px-5">
        {{ partial "navbar.html" . }}
      </div>
    </nav>
    <main class="container is-widescreen p-5 pb-6">
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer class="footer">
      <div class="container is-widescreen p-5 py-6">
        {{ block "footer" . }}
        {{ partial "footer" . }}
        {{ end }}
      </div>
  <script src="/js/script.js"></script>
  </footer>
</html>