{{ define "title" }}{{ .Title }} &#124; {{ .Site.Title }}{{ end }}

{{ define "main" }}
<section class="hero">
    <div class="hero-body has-text-centered">
      <div class="container is-widescreen px-5">
      <h1 class="title is-2">{{ .Title }}</h1>
      <p class="subtitle">{{ .Description }}</p>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container is-widescreen px-5">
        <a class="button is-uppercase" title="{{ .Parent.Title }}" href="{{.Parent.RelPermalink }}">&#60; {{.Parent.Title}}</a>
      </div>
    </div>
</section>

<section class="section">
<div class="container is-widescreen px-5">
  <div class="columns is-multiline">
    <!-- if list page has no subsection, iterates over pages. otherwise iterates over subsections -->
    {{ $list := (cond (eq .Sections nil) (.Paginate .Pages) (.Paginate .Sections))}}
    {{ range $list.Pages }}
    <div class="column is-one-third-desktop is-half-tablet">
      {{ partial "card.html" . }}
    </div> 
    {{ end }}
  </div>
</div>
</section>
{{ partial "pagination.html" . }}
{{ end }}