{{ define "title" }}{{ .Title }} &#124; {{ .Site.Title }}{{ end }}
{{ define "main" }}

<section class="section container content">
    <div class="columns">
        <div class="column is-two-thirds">
            <nav class="level">
                <div class="level-left">
                  <a class="button is-uppercase" href="{{.Parent.RelPermalink }}"><span class="icon"><i class="fas fa-chevron-left"></i></span><span>Indietro</span></a>
                </div>
              </nav>
            <h1 class="title">
                {{ .Title }}
            </h1>
            {{ if .Description }}
            <p class="subtitle">
                {{ .Description }}
            </p>
            {{ end }}
            <figure class="image is-5by3">
                <img style="object-fit: {{ cond (.IsDescendant (.GetPage "/wiki/racchette")) "contain" "cover"}};" src="{{- with .Params.images -}}{{ index . 0 | absURL }}{{- end -}}" alt="{{ .Title }}">
            </figure>
            {{ if (.IsDescendant (.GetPage "/wiki/racchette")) }}
            {{ partial "specs.html" . }}
            {{ else }}
            {{ .Content }}
            {{ end }}
            {{/* if page in section, show prev-next buttons */}}
            {{ if (ne .Section "") }}
            {{ partial "prev-next.html" . }}
            {{ end }}
            {{ partial "share.html" . }}
        </div>
        <div class="column">
            <p class="title is-4">Ultimi Articoli</p>
            <div class="columns is-multiline">
                {{ range first 3 (where site.RegularPages "Type" "blog") }}
                <div class="column is-full">
                    {{ partial "card.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}