{{ define "title" }}{{ .Title }} &#124; {{ .Site.Title }}{{ end }}
{{ define "main" }}

<section class="section container content">
    <div class="columns is-variable">
        <div class="column is-two-thirds">
            <nav class="level">
                <div class="level-left">
                  <a class="button is-uppercase" href="{{.Parent.RelPermalink }}"><span class="icon"><i class="fas fa-chevron-left"></i></span><span>Indietro</span></a>
                </div>
              </nav>
            <p class="title is-2">
                {{ .Title }}
            </p>
            <p class="subtitle">
            {{ .Description }}
            </p>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-5by3 mb-4">
                        <img style="object-fit: {{ cond (eq .Parent.Type "racchette")  "contain"  "cover" }};" src="{{- with .Params.images -}}{{ index . 0 | absURL }}{{- end -}}" alt="{{ .Title }}">
                    </figure>
                </div>
            </div>
            {{ .Content }}
            {{ partial "prev-next.html" . }}
            {{ partial "share.html" . }}
        </div>
        <div class="column">
            <p class="title is-4">Ultimi Articoli</p>
            <div class="columns is-multiline">
                {{ range first 3 (where site.RegularPages "Type" "blog") }}
                <div class="column is-full">
                    {{ partial "cards.html" (dict "Page" . "Type" $.Type) }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}