{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="hero">
  <div class="hero-body has-text-centered">
      <p class="title is-2">{{ .Title }}</p>
      <p class="subtitle">{{ .Description }}</p>
  </div>
</section>



<section class="section">
  <div class="columns is-multiline is-variable is-5-tablet">
    {{ range .Pages }}
    <div class="column is-one-third-desktop is-half-tablet">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img style="object-fit: cover;" src="{{- with .Params.images -}}{{ index . 0 | absURL }}{{- end -}}" alt="">
                </figure>
            </div>
        </div>
        <div class="my-5">
            <h3 class="title is-4">{{ .Title }}</h3>
            <p>{{ .Description }}</p>
            <a href="{{.RelPermalink}}">
                <span class="icon-text">
                    <span>Entra ›</span>
                    <span class="icon">
                        <ion-icon name="chevron-forward-outline"></ion-icon>                        </span>
                </span>
                </a>
        </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}

