<div class="card">
    <div class="card-image">
    <figure class="image is-4by3">
        <a href="{{.Page.RelPermalink}}">
        <img style="object-fit: {{ cond (eq .Type "racchette") "contain" "cover"}};" src="{{- with .Page.Params.images -}}{{ index . 0 | absURL }}{{- end -}}" alt="">
        </a>
    </figure>
    </div>
</div>
<div class="my-5">
    <h3 class="title is-4 mb-3">{{ cond (eq .Type "racchette")  .Page.Params.Model  .Page.Title }}</h3>
    <p class="mb-3">{{ if .Page.Description }}{{ .Page.Description }}{{ else }}{{ .Page.Summary }}{{ end }}</p>
    <a href="{{.Page.RelPermalink}}" class="button">
    <span class="icon-text"><span>Entra</span><span class="icon"><ion-icon name="chevron-forward-outline"></ion-icon></span></span>
    </a>
</div>
