<div class="columns is-variable is-5 content">
    <div class="column is-one-third is-hidden-mobile">
        <h3><a class="click" href="/blog">Ultimi Post</a></h3>
        {{ range first 3 (where site.RegularPages "Type" "blog") }}
            {{ partial "card-small.html" . }}
        {{ end }}
    </div>
    <div class="column is-one-third is-hidden-mobile">
        <h3>Instagram</h3>
        {{ partial "instagram.html" . }}
    </div>
    <div class="column is-one-third">
        <h3>Contattaci</h3>
        {{ partial "contact-form.html" . }}
    </div>
</div>
<div class="buttons is-centered">
    {{ range .Site.Data.socials }}
        <a class="button is-medium" href="{{.link}}" title="Padel Up su {{.name}}"><span class="icon"><i class="{{.icon}}"></i></span></a>
    {{ end }}
</div>
<div class="content has-text-centered">
    <p>&copy; {{ now.Format "2006"}} <strong>{{ .Site.Title }}</strong></p>
</div>