<div class="columns is-gapless is-multiline is-mobile">
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/01.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/02.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/03.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/04.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/05.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/06.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/07.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/08.webp" alt="Padel Up Instagram">
    </div>
    <div class="column is-one-third">
        <img class="is-square" src="/images/gallery/09.webp" alt="Padel Up Instagram">
    </div>
</div>
