{{$type := cond (.IsDescendant (.GetPage "/wiki/racchette")) (cond .IsSection "cover" "contain") "cover"}}
{{$title := cond (.IsDescendant (.GetPage "/wiki/racchette")) (cond .IsSection .Title .Params.Model) .Title }}
<div class="columns is-mobile is-variable is-2 is-vcentered">
    <div class="column is-one-third">
        <figure class="image is-square">
            <a href="{{.RelPermalink}}">
            <img style="object-fit: {{ $type }};" src="{{- with .Params.images -}}{{ index . 0 | absURL }}{{- end -}}" alt="">
            </a>
        </figure>
    </div>
    <div class="column is-two-thirds">
        <p class="title is-6 mb-2">{{ .Title }}</p>
        <a href="{{.RelPermalink}}" class="button is-uppercase is-small">Entra &#62;</a>
    </div>
</div>
