{{$type := cond (.IsDescendant (.GetPage "/wiki/racchette")) (cond .IsSection "cover" "contain") "cover"}}
<div class="columns is-mobile is-variable is-2 is-vcentered">
    <div class="column is-one-third">
        <figure class="image is-square">
            <a href="{{.RelPermalink}}">
            <img style="object-fit: {{ $type }};" src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
            </a>
        </figure>
    </div>
    <div class="column is-two-thirds">
        <p class="title is-6 mb-2">{{ .Title }}</p>
        <a href="{{.RelPermalink}}" class="button is-uppercase is-small">Entra &#62;</a>
    </div>
</div>
