<div class="content mb-0">
    <h3><a class="click" href="/blog">Leggi i Post <span class="icon has-text-primary"><i class="fas fa-chevron-right"></i></span></a></h3>
</div>
{{ range first 3 (shuffle (where site.RegularPages "Type" "blog")) }}
    {{ partial "card-small.html" . }}
{{ end }}
<div class="content mt-4 mb-0">
    <h3><a class="click" href="/wiki/racchette">Esplora le Racchette <span class="icon has-text-primary"><i class="fas fa-chevron-right"></i></span></a></h3>
</div>
{{ $racchette := (.GetPage "/wiki/racchette") }}
{{ range first 3 (shuffle $racchette.RegularPagesRecursive) }}
    {{ partial "card-small.html" . }}
{{ end }}
<div class="content mt-4 mb-0">
    <h3><a class="click" href="/wiki/vip">Scopri i VIP <span class="icon has-text-primary"><i class="fas fa-chevron-right"></i></span></a></h3>
</div>
{{ $vip := (.GetPage "/wiki/vip") }}
{{ range first 3 (shuffle $vip.RegularPagesRecursive) }}
    {{ partial "card-small.html" . }}
{{ end }}
