{{ .Content }}
{{ with .Params.padel }}
    <h2>{{ $.Title }} e il Padel</h2>
    <p>{{ . }}</p>
{{ end }}
{{ with .Params.video }}
<figure class="image is-16by9">
    <iframe class="has-ratio" width="640" height="360" src="{{ . | safeHTML }}" frameborder="0" allowfullscreen></iframe>
</figure>
{{ end }}
{{ with .Params.instagram }}
    {{ . | safeHTML }}
{{ end }}
{{ with .Params.twitter }}
    {{ . | safeHTML }}
{{ end }}
{{ with .Params.image_alt }}
    <img src="{{ . }}" alt="{{ $.Title}} e il Padel"></p>
{{ end }}
{{ with .Params.fonte }}
    <p><a href="{{ . }}">Fonte</a></p>
{{ end }}
