{{ .Content }}
{{ if .Params.padel }}
    <h2>{{ .Title }} e il Padel</h2>
    <p>{{ .Params.padel }}</p>
{{ end }}

{{ if .Params.video }}
    {{ .Params.video | safeHTML }}
{{ end }}
{{ if .Params.instagram }}
    {{ .Params.instagram | safeHTML }}
{{ end }}
{{ if .Params.twitter }}
    {{ .Params.twitter | safeHTML }}
{{ end }}
{{ if .Params.image_alt }}
<img src="{{ .Params.image_alt }}" alt="{{ .Title}} e il Padel"></p>
{{ end }}
{{ if .Params.fonte }}
<p><a href="{{.Params.fonte}}">Fonte</a></p>
{{ end }}
