{{ define "title" }} {{ .Title }} &#124; {{ .Site.Title }} {{ end }}
{{ define "main" }}
{{/*  <section class="hero">
    <div class="hero-body has-text-centered">
      <div class="container is-widescreen px-5">
      <h1 class="title is-2">Benvenuto in Padel Up</h1>
      <p class="subtitle">{{ .Description }}</p>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container is-widescreen px-5">
      </div>
    </div>
</section>  */}}

<section class="section">
  <div class="container is-widescreen px-5">
    <div class="columns is-multiline">
    {{ range $index, $pag := first 4 (where site.RegularPages "Type" "blog") }}
    {{ if (eq $index 0) }}
      {{ partial "card-hero.html" $pag }}
    {{ else }}
      <div class="column is-one-third-tablet">
        {{ partial "card-home.html" $pag }}
      </div>
    {{ end }}
    {{ end }}
    </div>
    <p class="title is-2 mt-5">Esplora le racchette</p>
      <div class="columns is-multiline">
        {{ $racchette := (.GetPage "/wiki/racchette") }}
        {{ range first 3 (shuffle $racchette.RegularPagesRecursive) }}
          <div class="column is-one-third-tablet">
            {{ partial "card-home.html" . }}
          </div>
        {{ end }}
      </div>
    <p class="title is-2 mt-5">Scopri i VIP</p>
      <div class="columns is-multiline">
        {{ $vip := (.GetPage "/wiki/vip") }}
        {{ range first 3 (shuffle $vip.RegularPagesRecursive) }}
          <div class="column is-one-third-tablet">
            {{ partial "card-home.html" . }}
          </div>
        {{ end }}
      </div>
    </div> 
  </section>
{{ end }}
