{{ define "title" }} {{ .Title }} &#124; {{ .Site.Title }} {{ end }}
{{ define "main" }}
<section class="hero is-fullheight-with-navbar" style="background: url('/images/staff/staff.webp')center center; background-size: cover; box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.6);">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">Benvenuto in Padel Up</p>
            <p class="subtitle">{{.Description}}</p>
            <a class="button is-primary" href="/wiki/">WIKI</a>
        </div>
    </div>
</section>
{{ end }}
{{ define "footer" }}{{ partial "footer.html" . }}{{ end }}